<script>
         window.onload=function(){setTimeout(function(){
         var c="display:block !important; visibility:hidden !important;text-decoration:none !important;-moz-binding:none !important";
var b= "<div class='replace'><a href='https://ashminswain.github.io/blogs/'> </a></div>";
         var a=document.querySelector("ins.adsbygoogle");
         a&&0==a.innerHTML.replace(/\s/g,"").length&&(a.style.cssText=c,a.innerHTML=b);
         
         var a=document.querySelector("ins.adclass");
         a&&0==a.innerHTML.replace(/\s/g,"").length&&(a.style.cssText=c,a.innerHTML=b);

         var a=document.querySelector("ins.adclass2");
         a&&0==a.innerHTML.replace(/\s/g,"").length&&(a.style.cssText=c,a.innerHTML=b)
     },
        
2000)};</script>