<noscript>
      <link rel="stylesheet" type="text/css" href="/css/main.scss"/>
      <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
</noscript>

<!-- 
<script>
    (function() {
        var font = document.createElement('link'); 
        var font2 = document.createElement('link'); 
        font.type = 'text/css'; 
        font2.type = 'text/css'; 
        font.rel = 'stylesheet';
        font2.rel = 'stylesheet';
        font.href = '/css/main.css';
        font2.href = '/font-awesome/css/font-awesome.min.css';
        var s = document.getElementsByTagName('link')[0]; 
        var t = document.getElementsByTagName('link')[0]; 
        s.parentNode.insertBefore(font, s);
        t.parentNode.insertBefore(font2, t);
      })();
</script> -->
<script async>(function(){var a=document.createElement("link"),b=document.createElement("link");a.type="text/css";b.type="text/css";a.rel="stylesheet";b.rel="stylesheet";a.href="/css/main.css";b.href="/font-awesome/css/font-awesome.min.css";var c=document.getElementsByTagName("link")[0],d=document.getElementsByTagName("link")[0];c.parentNode.insertBefore(a,c);d.parentNode.insertBefore(b,d)})();</script>
