/* Archive page sections */

.hide {
    display: none;
}


.pills ul > li{
    display: inline-block;
    margin-left: 0.6em;

}
.pills ul > li a {

}
li.active a {
    color: #333;
}

/* Search page sections */

